@font-face {
    font-family: gilroy-regular;
    src: url(Gilroy-Regular.dc762492.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: gilroy-medium;
    src: url(Gilroy-Medium.f3e05df2.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: gilroy-bold;
    src: url(Gilroy-Bold.be12eefb.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: gilroy-semi-bold;
    src: url(Gilroy-SemiBold.51b5085c.otf) format("opentype");
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
}

*, ul {
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    min-width: 320px;
}

body {
    font-size: 14px;
    font-family: gilroy-regular;
    line-height: 24px;
    color: inherit;
    background: transparent;
    min-width: 320px;
    letter-spacing: 0.6px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*header css*/

header {
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 51px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    z-index: 10000;
    transform: translateY(0px);
    margin: 0px;
    transition: all 0.5s ease 0s;
}

.cRhYAU {
    display: inline-block;
    /* height: 29px; */
    position: relative;
}

.gHtrrs {
    /* position: absolute;
    left: 0px;
    top: -28px; */
    margin: auto;
    height: 80px;
    width: auto;
}

.arbor-super-nav--is-showing-background .gHtrrs {
    top: -16px;
    height: 60px;
}

.cMvtpL {
    z-index: 3;
}

.iSTbYX {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 937px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    visibility: visible;
    margin: 0px;
    animation: 0.75s ease 0.3s 1 normal forwards running jvPjvA;
}

.iSTbYX {
    visibility: visible;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transform: translate(0px, 0px);
    position: static;
    animation: 0s ease 0s 1 normal none running none;
    margin: 0px auto;
    transition: unset;
    background: none;
    z-index: 2;
}

.dbBigR {
    /* z-index: -1; */
}

.eOAsvI {
    grid-row-start: menu-start;
    height: 100%;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
    opacity: 0;
    margin: 3px 0px;
    padding: 20px 0px 50px;
    list-style: none;
    transition: opacity 0.75s ease 0s;
}

.eOAsvI {
    flex-direction: row;
    opacity: 1;
    /* position: absolute; */
    /* width: 60vw; */
    -webkit-box-align: center;
    align-items: center;
    transition: unset;
    padding: 0px;
    margin-left: auto;
}

.eOAsvI {
    /* width: 50vw; */
}

.fVMORl {
    display: inline-block;
    padding: 0px 5px 5px;
}

.eBLPSU {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 0px;
}

.faiCYq {
    display: block;
    font-size: 1.62rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.faiCYq {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    margin: 0px 25px;
    transition: all 0.3s ease-in 0s;
}

.faiCYq::after {
    content: "";
    background-color: rgb(255, 255, 255);
    width: calc(100% + 6px);
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: -3px;
    transform: scaleX(0) translateY(5px);
    transition: transform 0.2s ease-in 0s, opacity 0.2s ease-in 0s;
}

.eBLPSU:hover .Navigationstyles__LinkText-sc-1lgv289-3 {
    transform: translateY(-5px);
    color: rgb(255, 255, 255);
}

.eBLPSU:hover .Navigationstyles__LinkText-sc-1lgv289-3::after {
    transform: scaleX(1) translateY(5px);
}

.NFatu {
    grid-row-start: bottom-start;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.75s ease 0s, transform 0.75s ease 0s;
}

.NFatu {
    width: auto;
    height: auto;
    opacity: 1;
    transform: none;
    position: relative;
    right: 14px;
    background: none;
    transition: unset;
}

.gggAeN {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.62rem;
    font-weight: 400;
    line-height: 1;
    position: relative;
    z-index: 1000;
    outline: none;
    overflow: hidden;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    padding: 22px 18px;
    transition: color 0.3s ease-in 0s;
}

.gggAeN {
    font-size: 15px;
}

.gggAeN::after {
    z-index: -1;
    position: absolute;
    left: calc(100% - 40px);
    bottom: 0px;
    width: 110%;
    height: 95%;
    content: "";
    transform-origin: 100% 50%;
    will-change: transform;
    background-color: rgb(33, 33, 33);
    transform: translate3d(calc(40px - 100%), 0px, 0px);
    /* transition: transform 0.3s cubic-bezier(0.44, 0.05, 0.21, 0.9) 0s, background-color 0.3s ease-in 0s; */
}

.gggAeN:hover::after {
    transform: translate3d(calc(40px - 100%), 0px, 0px);
}

/*end header css*/

/*splash css*/

.mainContent {
    background-color: #111517;
    color: #fff;
}

.gHHyJk {
    width: 100%;
    position: relative;
    z-index: 9000;
    display: grid;
    overflow: hidden;
    outline: none;
    padding: 0px 26px 0px;
    min-height: 100vh;
    height: auto;
    /* margin-bottom: -120px; */
}

.hVyFxK {
    padding: 210px 0 100px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    height: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.bhiCFr {
    max-width: 1360px;
    padding-left: 150px;
    padding-right: 32px;
    width: 100%;
    margin: 0 auto;
}

.hCaQNN {
    position: relative;
    max-width: 75rem;
    -webkit-letter-spacing: .12rem;
    -moz-letter-spacing: .12rem;
    -ms-letter-spacing: .12rem;
    letter-spacing: .12rem;
    opacity: 1;
    font-family: gilroy-bold;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    transform: translate(0, 20px);
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 60px;
}

/* .hCaQNN:after {
    content: '.';
    color: #F09600;
} */

/*end splash css*/

.hUWCsP {
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.ContainerAll {
    max-width: 1360px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    margin: 0 auto;
}

.dEZnVh {
    background: #111517;
    color: #818791;
}

.boKthK {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 58px;
    margin-left: -6rem;
    padding-left: 0;
}

.boKthK {
    margin-bottom: 80px;
}

.jgdFsg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6rem;
    min-width: 0;
}

.hqGDl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
}

.hlnTbs {
    max-width: 240px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.iSuaJk {
    line-height: 1.1666666666666667;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    font-family: gilroy-medium;
}

.gwqmnV {
    line-height: 1.33;
    font-weight: 400;
    font-size: 24px;
}

.iEApWN {
    margin: 2rem 0 3rem;
    line-height: 1.43;
    font-size: 14px;
    color: #546264;
}

.iEApWN {
    font-size: 16px;
    line-height: 1.5;
    margin: 30px 0 40px;
}

.kvFFea {
    cursor: pointer;
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0 20px;
    text-transform: none;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: 0 0;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.2857142857142858;
    height: 4rem;
    background: 0 0;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.09);
}

.djnFdM {
    line-height: 2.8;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: currentColor;
    -webkit-transition: none;
    transition: none;
}

.cRnBVk {
    vertical-align: middle;
}

.kSXBzk:after {
    display: inline-block;
    width: 0;
    height: 1px;
    background: currentColor;
    margin-left: 10px;
    vertical-align: middle;
    -webkit-transition: width 250ms linear;
    transition: width 250ms linear;
    will-change: width;
    content: '';
}

.kSXBzk:after {
    width: 33px;
}

a.ixdnBN:hover {
    color: #ffffff;
    -webkit-text-decoration: none;
    text-decoration: none;
}

header:before {
    content: "";
    background: #fff;
    transition: transform .25s cubic-bezier(.5, 0, 0, 1);
    transform: translateY(-100%);
    will-change: transform;
    border-bottom: 1px solid rgba(208, 208, 211, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.arbor-super-nav--is-showing-background:before {
    transform: translateY(0);
}

header.arbor-super-nav--is-showing-background {
    padding: 0 26px;
}

header.arbor-super-nav--is-showing-background .faiCYq {
    color: rgb(0, 0, 0);
}

header.arbor-super-nav--is-showing-background .faiCYq::after {
    background-color: rgb(0, 0, 0);
}

header.arbor-super-nav--is-showing-background .eBLPSU:hover .Navigationstyles__LinkText-sc-1lgv289-3 {
    color: rgb(0, 0, 0);
}

header.arbor-super-nav--is-showing-background .gggAeN::after {
    background-color: rgb(222, 222, 222);
}

header.arbor-super-nav--is-showing-background .gggAeN {
    color: rgb(0, 0, 0);
}

.fSdzTc {
    font-size: 16px;
    line-height: 1.2222222222222223;
    color: #546264;
}

.gdSzFs {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.gdSzFs svg {
    display: block;
    width: 100%;
    height: auto;
}

.fSdzTc.text-align-right {
    text-align: right;
}

section.expert {
    padding: 50px 0px;
    height: 2040px;
}

.Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 h2 {
    line-height: 60px;
    font-size: 4.32rem;
    font-family: gilroy-medium;
}

.towSec {
    display: flex;
}

.leftSticky {
    width: 50%;
}

.leftSticky .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 {
    margin-top: 150px;
}

.rightScrollable {
    width: 50%;
    position: absolute;
    right: 0;
}

.Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 h2 {
    line-height: 51px;
    font-size: 36px;
    font-family: gilroy-medium;
    margin-bottom: 20px;
    margin-right: 20px;
}

.Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 p {
    font-size: 18px;
    line-height: 32px;
    color: rgb(89, 89, 89);
    font-weight: 400;
    width: 90%;
}

.topHlightLightText {
    color: #fff !important;
    font-size: 22px !important;
}

.graybgColor {
    background-color: #f8f8f8;
}

.kUvZFC {
    counter-reset: link 0;
    list-style-type: none;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
}

.eQXOwA {
    display: block;
    height: 360px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    overflow: hidden;
}

.gpbdkg {
    object-fit: cover;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: opacity 0.8s ease 0s;
}

.lezOJA {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    text-decoration: none;
}

.fjPmoA {
    counter-increment: link 1;
    position: relative;
    padding-left: 30px;
    margin: 0px 0px 0px;
    transition: transform 0.8s ease 0s;
}

.fjPmoA {
    font-size: 22px;
    margin-left: 190px;
    padding-left: 0px;
    font-family: gilroy-bold;
    line-height: 38px;
}

.fjPmoA::before {
    position: absolute;
    top: -60px;
    content: "0"counter(link);
    color: rgb(189, 189, 189);
    font-weight: 400;
    font-size: 1.62rem;
    transition: transform 0.8s ease 0s, color 0.8s ease 0s;
}

.fjPmoA::before {
    font-size: 2.16rem;
}

.fjPmoA::before {
    top: 0;
    left: -120px;
}

.eQXOwA:hover .ProcessBoxstyles__Background-b4x5vz-0 {
    opacity: 0.6;
}

.fhCGvR {
    pointer-events: none;
    position: relative;
    font-size: 2.16rem;
    font-weight: 500;
    line-height: 1.5;
}

.fhCGvR {
    font-size: 3.32rem;
    width: 80%;
    margin: auto;
}

section.deploy {
    padding: 120px 0px;
    background: #111517;
}

.Videostyles__ContentWrapper-sc-1kz6x99-7.jnNcmO {
    text-align: center;
}

p.Videostyles__StyledParagraph-sc-1kz6x99-6.fhCGvR {
    font-family: gilroy-bold;
    color: #fff;
}

.liHsoN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 40px);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    justify-items: center;
    width: 80%;
    height: auto;
    margin-top: 30px;
    gap: 15px 50px;
}

.liHsoN {
    margin-top: 15vh;
    width: 90%;
    gap: 55px;
}

.liHsoN {
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    align-content: center;
    gap: 0px 50px;
}

.iXaFnz {
    max-height: 40px;
    max-width: 100px;
}

.zkLKV {
    max-height: 40px;
    max-width: 100px;
}

.jYyYeU {
    max-height: 40px;
    max-width: 90px;
}

.hKbQiO {
    max-height: 30px;
    max-width: 100px;
}

.fIRbfE {
    max-height: 40px;
    max-width: 110px;
}

.hsATui {
    max-height: 40px;
    max-width: 100px;
}

.lgSJta {
    margin: 100px auto;
    text-align: center;
}

.YyRNF {
    line-height: 60px;
    font-size: 34px;
    font-family: gilroy-bold;
}

.ftuJlC {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.ftuJlC {
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-left: 100px;
    background: white;
}

.ftuJlC {
    padding-left: 160px;
}

.ftuJlC::before {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(232, 232, 232);
}

.ftuJlC::before {
    width: calc(100% + 42px);
    left: -42px;
}

.hupwDB {
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.62rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    z-index: 1000;
    outline: none;
    overflow: hidden;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    padding: 22px 18px;
    transition: color 0.3s ease-in 0s;
}

.hupwDB {
    font-size: 1.62rem;
}

.edjxEQ {
    font-size: 5.22rem;
    font-family: gilroy-bold;
}

.hupwDB::after {
    z-index: -1;
    position: absolute;
    left: calc(100% - 40px);
    bottom: 0px;
    width: 110%;
    height: 95%;
    content: "";
    transform-origin: 100% 50%;
    will-change: transform;
    background-color: rgb(222, 222, 222);
    transition: transform 0.3s cubic-bezier(0.44, 0.05, 0.21, 0.9) 0s, background-color 0.3s ease-in 0s;
}

.hupwDB:hover::after {
    transform: translate3d(calc(40px - 100%), 0px, 0px);
}

.hJBvfI {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 30px auto 60px 10%;
}

.hJBvfI {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}

.hJBvfI {
    margin-left: 100px;
    margin-right: 100px;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.hJBvfI {
    margin-left: 160px;
}

.dglHMD {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 44px;
}

.dglHMD {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
}

.jYappN {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

.jYappN {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.hToZih {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.44rem;
    line-height: 60px;
    text-decoration: none;
}

.hToZih::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: -6px;
    height: 1px;
    transform: scaleX(0);
    background: rgb(0, 0, 0);
    transition: transform 0.4s ease-out 0s;
}

.hToZih:hover::before {
    transform: scaleX(1);
}

.kyNYVu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 55px 10%;
}

.kyNYVu {
    display: flex;
}

.kyNYVu {
    padding: 35px 10% 5px 150px;
}

.fNpYCt {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.fNpYCt:nth-of-type(3n+1) {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.kjZMEh {
    position: relative;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 10px 10px 20px;
    transition: transform 0.4s ease-out 0s;
}

.kjZMEh {
    margin-right: 35px;
}

.kjZMEh svg {
    width: auto;
}

.kjZMEh::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0px;
    bottom: 20px;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center center;
    background: rgb(0, 0, 0);
    transition: transform 0.4s ease-out 0s;
}

.kjZMEh:hover {
    transform: translateY(-10px);
}

.kjZMEh:hover::before {
    transform: scaleX(1) translateY(10px);
}

header.arbor-super-nav--is-showing-background .Logo__StyledLink-vvo6e6-0 svg.Logo__StyledLogo-vvo6e6-1 path {
    fill: #292929;
}

header.arbor-super-nav--is-showing-background .Logo__StyledLink-vvo6e6-0 svg.Logo__StyledLogo-vvo6e6-1 line {
    stroke: #292929;
}

header .Logo__StyledLink-vvo6e6-0 svg.Logo__StyledLogo-vvo6e6-1 path {
    fill: #ffffff;
}

p.comteTo {
    margin-left: 190px;
    margin-top: 20px;
    width: 60%;
    font-size: 16px;
    line-height: 2;
    display: none;
    transition: all 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
}

a.ProcessBoxstyles__StyledLink-b4x5vz-3:hover p.comteTo {
    display: block;
    visibility: visible;
    opacity: 1;
}

.MainHerostyles__StyledWrapper-sc-6way8x-1.gHHyJk .Container-sc-3arkl6-0.bhiCFr p {
    font-size: 18px;
    width: 80%;
    line-height: 2;
    color: rgba(255, 255, 255, 0.5);
}

.carts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftTab {
    width: 41%;
}

.rightContent {
    width: 58%;
}

.feature-img-box {
    position: relative;
    padding-right: 90px;
}

.TabListing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleTab, .doubleTab {
    width: 44%;
}

.feature-img-box .feature-offer-box {
    padding: 24px;
    margin-bottom: 45px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 25px 50px 0px rgba(78, 81, 144, .07);
}

.feature-img-box .feature-offer-box:last-child {
    margin: 0;
}

.rightContent h3 {
    font-size: 22px;
    color: #fff;
    font-family: gilroy-regular;
    font-weight: 400;
    margin-bottom: 16px;
}

.feature-img-box .feature-offer-box img {
    margin: 0;
    width: 100%;
    max-height: 50px;
}

.feature-img-box .feature-offer-box .title {
    font-size: 17px;
    color: #111517;
    padding: 20px 0 0px;
    text-align: center;
    line-height: 1.5;
    font-family: gilroy-medium;
    font-weight: 400;
}

.rightContent p {
    font-size: 18px;
}

.rightContent ul li {
    padding-top: 20px;
    padding-left: 30px;
    position: relative;
}

.rightContent ul li:before {
    content: '';
    width: 35px;
    height: 15px;
    position: absolute;
    top: 25px;
    left: 0px;
    background: url('../img/tick.svg') no-repeat;
}

/* 
.rightContent ul li:after {
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    top: 31px;
    left: 0;
    background: #fff;
} */

.rightContent ul li span {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.feature-img-box .feature-offer-box.active {
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

ul.craftListing li span {
    font-size: 15px;
    margin-bottom: 4px;
}

ul.craftListing li p {
    font-size: 15px;
}

.styled-components__ResponsibilityCard-sc-1ad3jm0-0.hzfWWW {
    margin-top: 60px;
}

.styled-components__ProgressBar-sc-1ad3jm0-1.gdSzFs img {
    width: 100%;
}

.deploy .bhiCFr .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 p {
    font-size: 18px;
    width: 80%;
    line-height: 2;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 30px auto;
}

.deploy .bhiCFr .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 h3 {
    font-family: gilroy-bold;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.col-3-st {
    display: flex;
    max-width: 100%;
    margin: 50px auto 0;
    align-items: flex-start;
    justify-content: space-between;
}

.col-3-st .col {
    display: block;
    width: 31%;
    text-align: center;
}

.col-3-st .col img {
    max-height: 100px;
    margin-bottom: 30px;
}

.col-3-st .col h3 {
    font-size: 22px;
    color: #fff;
    font-family: gilroy-regular;
    font-weight: 400;
    margin-bottom: 16px;
}

.col-3-st .col p {
    color: #818791;
    font-size: 18px;
}

.team {
    width: 33.33%;
}

.f-wrap {
    flex-wrap: wrap
}

.text-w {
    color: #fff !important
}

.mt-50 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.common-section-features {
    position: relative;
    margin-top: 115px;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease
}

.common-section-features .container {
    position: -webkit-sticky;
    position: sticky;
    top: 25vh;
    width: 100%;
    overflow: hidden
}

.common-section-features .wrapper {
    margin-right: auto;
    margin-left: auto
}

.common-section-features .container-slider {
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    align-items: flex-start
}

.common-section-features .container-slider .container-text {
    margin-right: 115px;
    width: 500px;
    padding-bottom: 40px
}

.common-section-features .container-slider .container-text h2 {
    position: relative
}

.common-section-features .container-slider .container-text h2 .surtitle {
    color: #10151B;
    color: #76BDBF;
    position: absolute;
    bottom: calc(100% - 18px);
    left: 40px
}

.common-section-features .container-slider .container-text h2 .title {
    line-height: 51px;
    font-size: 36px;
    font-family: gilroy-medium;
    color: #000
}

.common-section-features .container-slider .container-text p {
    font-size: 18px;
    line-height: 32px;
    color: rgb(89, 89, 89);
    font-weight: 400;
    width: 90%;
    margin-top: 37px
}

.common-section-features .container-slider .container-features {
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: nowrap
}

.common-section-features .container-slider .container-features .feature {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    height: 450px;
    width: 280px;
    /* border-bottom: 1px solid #E0E3E7 */
}

.common-section-features .container-slider .container-features .feature:not(:last-child) {
    margin-right: 100px
}

.common-section-features .container-slider .container-features .feature .icn {
    position: relative;
    height: 120px;
    width: 145px;
    margin-bottom: 45px
}

.common-section-features .container-slider .container-features .feature .icn img {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease
}

.common-section-features .container-slider .container-features .feature .icn img:nth-child(1) {
    opacity: 1
}

.common-section-features .container-slider .container-features .feature .icn img:nth-child(2) {
    opacity: 0
}

.common-section-features .container-slider .container-features .feature h3 {
    color: #10151B;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease
}

.common-section-features .container-slider .container-features .feature h3 strong {
    font-weight: normal;
    color: #EC733B
}

.common-section-features .container-slider .container-features .feature p {
    margin-top: 25px;
    color: rgb(89, 89, 89);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    font-size: 16px;
    line-height: 2;
}

.rainforest .rightScrollable {
    position: relative;
    right: auto
}

.rainforest {
    padding-bottom: 150px;
}

.rainforest .leftSticky .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 {
    margin-top: 0;
}

.rainforest ul li {
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

.rainforest ul li:before {
    content: '';
    width: 35px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 0px;
    background: url(../img/tick-b.svg) no-repeat;
}

.rainforest ul li strong {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.rainforest ul li p {
    font-size: 16px;
    color: rgb(89, 89, 89);
}

/* services */

.subtitle h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.subtitle p {
    font-size: 14px;
    line-height: 28px;
    color: #555;
}

.staticImg {
    text-align: center;
}

.staticImg img {
    max-width: 100%;
}

.dummayContent ul {
    display: flex;
    flex-wrap: wrap;
}

.dummayContent ul li {
    width: 50%;
}

.dummayContent ul li p {
    line-height: 24px;
    font-size: 14px;
}

.pl-30 {
    padding-left: 30px;
}

.blckWhiteImg {
    filter: grayscale(1);
    width: 80%;
}

.serviceBlock {
    /* max-width: calc(33% - 20px); */
    max-width: calc(100%);
    /* display: block; */
    /* box-shadow: 0px 6px 30px 0px rgba(158,129,114,0.2); */
    padding: 30px 20px;
    /* border-radius: 10px; */
    text-align: center;
    margin: 0 0 50px 0;
    border: 1px dashed #eaeaea;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1.375rem 2.125rem 0 rgba(228, 233, 240, .62);
    flex-wrap: wrap;
}

.serviceBlock:hover {
    box-shadow: 0px 6px 30px 0px rgba(158, 129, 114, 0.2);
}

.serviceBlock:nth-child(5) {
    margin-bottom: 0;
}

.serviceBlock .rightScrollable {
    width: 20%;
    margin: auto 20px auto auto;
}

.serviceBlock .rightScrollable .staticImg {
    max-width: 100%;
    margin: auto;
    height: 200px;
}

.serviceBlock .rightScrollable .staticImg img {
    height: 100%;
    object-fit: contain;
}

.serviceBlock .leftSticky {
    width: calc(80% - 20px);
    padding: 0;
    text-align: right;
}

.serviceWrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

.grayColor {
    filter: grayscale(1);
}

.serviceMore {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
}

/* Job */

.mb-15 {
    margin-bottom: 15px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.staticImg {
    text-align: center;
}

.staticImg img {
    max-width: 100%;
}

.dummayContent ul li p {
    line-height: 24px;
    font-size: 14px;
}

.pl-30 {
    padding-left: 30px;
}

.blckWhiteImg {
    filter: grayscale(1);
    width: 80%;
}

.grayColor {
    filter: grayscale(1);
}

.joinWrapper {
    /* overflow: hidden; */
    position: relative;
}

.joinWrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 1;
    background: #f5f8fc;
    top: 0;
}

.joinWrapper .ContainerAll {
    position: relative;
    z-index: 2;
}

.joinInner {
    display: flex;
    flex-wrap: wrap;
}

.joinBlock {
    width: calc(33.33% - 20px);
    box-shadow: 0 1.375rem 2.125rem 0 rgba(228, 233, 240, .62);
    padding: 30px;
    background: #fff;
    margin: 0 10px;
}

.volpBlock {
    align-items: flex-start;
}

.volpBlock .joinBlock {
    width: calc(25% - 20px);
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
}

.stepcount {
    position: absolute;
    font-size: 60px;
    right: 20px;
    top: 50px;
    color: #ccc;
}

.joinBlock:nth-child(2) {
    position: relative;
    top: 50px;
}

.joinBlock:nth-child(3) {
    position: relative;
    top: 100px;
}

.joinBlock:nth-child(4) {
    position: relative;
    top: 150px;
}

.joinBlock img {
    max-width: 80px;
    margin-bottom: 20px;
}

.joinBlock .c-btn {
    padding: 10px 5px;
    width: 100%;
    font-size: 14px;
    background: #fff;
    color: #000;
    margin-top: 10px;
    border: 1px solid #d0d0d0;
}

.joinBlock .c-btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

/* contact */

.positionRelative {
    position: relative
}

.contactBg {
    background-image: url(img/contact-bg.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    top: 0;
    background-position: right;
    background-size: 57% auto
}

.contactFrom {
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.contactFrom h6 {
    font-size: 16px;
    margin-bottom: 20px
}

.formGroup {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px
}

.formGroup.message {
    width: 100%
}

.formGroup label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px
}

.formGroup input, .formGroup textarea {
    width: 100%;
    border: 1px solid #f6f9fc;
    padding: 10px;
    height: 56px;
    box-shadow: 0 6px 34px 0 rgba(218, 231, 249, .62)
}

.formGroup.message textarea {
    height: 100px
}

.formGroup input::placeholder, .formGroup textarea::placeholder {
    font-size: 15px;
    color: #888;
    letter-spacing: .5px;
    font-family: gilroy-regular;
}

.formGroup input:focus, .formGroup textarea:focus {
    outline: 0;
    border: 1px solid #555
}

.c-btn {
    text-transform: capitalize;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 18px 25px;
    min-width: 180px;
    font-size: 16px;
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-family: gilroy-regular;
}

.c-btn:hover {
    background-color: #fff;
    color: #000
}

ul.contact-info-list li {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px
}

ul.contact-info-list li:before {
    content: none!important
}

.contactBlock {
    width: 45px;
    height: 45px;
    background-color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px
}

.contactBlock img {
    width: 20px;
    height: 20px
}

ul.contact-info-list li p {
    font-size: 16px;
    color: #555
}

.contactAddress h2 {
    margin-bottom: 22px;
    font-size: 18px;
    text-decoration: underline
}

.officeBlock {
    margin-right: 20px
}

.officeDec h4 {
    font-size: 16px;
    margin-bottom: 5px
}

.contact-info-list li .officeDec p {
    font-size: 14px
}

.mb-50 {
    margin-bottom: 50px
}

/* card Box */

.cardItem {
    width: 25%;
    padding: 0 10px;
}

.cardBlock {
    display: flex;
    flex-wrap: wrap;
}

.c-card__hanger {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.c-card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 6px 30px 0px rgba(158, 129, 114, 0.2);
    padding: 0 15px 15px 15px;
    margin: -7px 0 0 0;
    min-height: 215px;
}

.c-card__logo {
    border-radius: 8px;
    height: 64px;
    width: 84px;
    position: relative;
    top: -20px;
    margin: auto;
    background-color: #dedede;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.cardTitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.cardDec {
    font-size: 14px;
    line-height: 24px;
}

/* comitedmwnt */

.commitementBlock {
    display: flex;
}

.commitTitle {
    width: 50%;
    text-align: right;
    padding-right: 150px;
}

.commitInner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.commiteWrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.commitItem {
    width: calc(50% - 20px);
    padding: 10px;
    margin-right: 20px;
    border: 1px solid #dcdde2;
    border-radius: 21px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.commitContent {
    padding: 30px;
    border: 1px solid #dcdde2;
    border-radius: 18px;
    height: 100%;
}

.commitItem img {
    max-width: 70px;
    margin-bottom: 20px;
}

.commitDec h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.commitDec p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.width-50 {
    width: 50%;
    padding: 0 10px;
}

.width-33 {
    width: 33.33%;
    padding: 0 15px;
}

.width-100 {
    width: 100%;
}

.text-capitalize {
    text-transform: capitalize;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-0 {
    margin-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.mt {
    margin-top: 130px;
}

.mb-0 {
    margin-bottom: 0;
}

.w-100 {
    width: 100% !important;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.faq-content {
    margin-bottom: 0px;
    width: 50%;
    max-width: 700px;
    margin: auto;
}

.border-bottom {
    border-bottom: 1px solid #efd7d7;
}

.faq-content h3 {
    padding-top: 20px;
}

.faq-content h3:focus {
    outline: none;
}

.ac-q {
    cursor: pointer;
}

.ac>.ac-a {
    overflow: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    padding: 10px;
}

.ac.is-active.js-enabled>.ac-a {
    visibility: visible;
}

.ac.js-enabled>.ac-a {
    visibility: hidden;
}

.ar-h {
    height: 1800px !important;
}

.box {
    width: 50%;
    margin: 20px 50px;
    padding: 38px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 26px -10px rgba(0, 0, 0, 0.2);
    text-align: right;
}

.box p {
    padding-bottom: 20px;
}

.box h4 {
    padding-bottom: 10px;
    font-size: 16px;
}

.bg-architect .box:hover {
    transform: scale(1.1);
    transition: all ease 0.8s;
}

.bg-architect {
    background-image: url(../img/architect-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.bg-architect-black {
    background-color: #111517;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
}

.bg-architect-black .box {
    background-color: transparent;
}

.bg-architect-black h2 {
    padding-top: 20px;
}

/* --------------------------------Media-css start--------------------------------- */

@media screen and (min-width: 700px) and (max-width: 1250px) {
    .common-section-features .wrapper {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px
    }
}

@media screen and (max-width: 700px) {
    .common-section-features .wrapper {
        width: 100%;
        padding-right: 32px;
        padding-left: 32px
    }
}

@media screen and (min-width: 1250px) {
    .common-section-features .wrapper {
        width: 1200px
    }
}

@media screen and (min-width: 700px) {
    .common-section-features .container-slider .container-text h2 .surtitle {
        font-size: 20px;
        line-height: 26px
    }
}

@media screen and (max-width: 700px) {
    .common-section-features .container-slider .container-text h2 .surtitle {
        font-size: 18px;
        line-height: 23.4px
    }
}

@media screen and (min-width: 700px) {
    .common-section-features .container-slider .container-text p {
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    .common-section-features .container-slider .container-features .feature h3 {
        font-size: 20px;
        line-height: 26px
    }
}

@media screen and (max-width: 700px) {
    .common-section-features .container-slider .container-features .feature h3 {
        font-size: 18px;
        line-height: 23.4px
    }
}

@media screen and (max-width: 1250px) {
    .common-section-features {
        padding-bottom: 50px !important
    }
    .common-section-features .container-slider {
        display: block
    }
    .common-section-features .container-slider .container-text {
        margin-right: 0px;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 55px
    }
    .common-section-features .container-slider .container-text p {
        margin-top: 10px
    }
    .common-section-features .container-slider .container-features {
        width: calc(100% + 100px);
        margin-left: -50px;
        overflow: auto;
        padding: 0px 50px 30px 50px;
        -webkit-overflow-scrolling: touch
    }
    .common-section-features .container-slider .container-features:after {
        content: "";
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        display: block;
        width: 32px;
        height: 1px
    }
    .common-section-features .container-slider .container-features .feature {
        width: 200px
    }
    .common-section-features .container-slider .container-features .feature .icn {
        height: 100px
    }
    .common-section-features .container-slider .container-features .feature:not(:last-child) {
        margin-right: 40px
    }
}

@media screen and (max-width: 700px) {
    .common-section-features .container-slider .container-features {
        width: calc(100% + 64px);
        margin-left: -32px;
        padding: 0px 32px 30px 32px
    }
}

@media screen and (max-width: 1024px) {
    .faiCYq {
        margin: 0px 18px;
    }
    .bhiCFr .carts .leftTab .feature-img-box {
        padding-right: 30px;
    }
}

@media screen and (max-width: 992px) {
    .rightContent ul li {
        text-align: right;
    }
    section.expert {
        height: auto;
    }
    .rightScrollable {
        position: relative;
    }
    .leftSticky .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 {
        margin-top: 0px;
    }
    .home-wrapper ul.headerMenu {
        display: none;
        position: absolute;
        z-index: 1;
        background: #fff;
        max-height: max-content;
        overflow: hidden;
        height: auto;
        top: 100%;
        margin: 40px 0 0 0;
    }
    .home-wrapper ul.headerMenu li {
        width: 100%;
        text-align: right;
    }
    .eBLPSU {
        justify-content: flex-start;
    }
    .hVyFxK .bhiCFr {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .MainHerostyles__StyledWrapper-sc-6way8x-1.gHHyJk .Container-sc-3arkl6-0.bhiCFr p {
        width: 100%;
        font-size: 16px;
    }
    .bhiCFr .carts {
        display: block;
    }
    .bhiCFr .carts .leftTab {
        width: 100%;
    }
    .bhiCFr .carts .leftTab .feature-img-box {
        padding-right: 0;
    }
    .bhiCFr .carts .rightContent {
        text-align: center;
        padding-top: 50px;
        width: 100%;
    }
    .towSec {
        display: block;
    }
    .towSec .leftSticky {
        width: 100%;
    }
    .towSec .rightScrollable {
        width: 100%;
        padding-top: 50px;
    }
    .rainforest {
        padding-bottom: 50px;
    }
    .deploy .col-3-st {
        flex-wrap: wrap;
    }
    .deploy .col-3-st .col {
        width: 50%;
    }
    .deploy .col-3-st .col:nth-child(3) {
        padding-top: 50px;
    }
    .deploy .col-3-st .col:nth-child(4) {
        padding-top: 50px;
    }
    .hJBvfI {
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
    }
    .rainforest .towSec .rightScrollable {
        text-align: center;
    }
    .rainforest .towSec .rightScrollable>div {
        margin: auto;
    }
    .rainforest .towSec .leftSticky {
        padding-top: 50px;
    }
    .lgSJta {
        margin: 150px auto 150px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .hCaQNN {
        font-size: 30px;
        line-height: 50px;
    }
    .carts .TabListing {
        display: block;
    }
    .carts .singleTab, .doubleTab {
        width: 100%;
        display: block;
        padding-bottom: 45px;
    }
    .carts .doubleTab:last-child {
        padding-bottom: 0;
    }
    .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .leftSticky .Paragraphstyles__ParagraphWrapper-sc-1me8ap2-0 {
        margin-top: 0;
        text-align: center;
    }
    section.deploy {
        margin-top: 50px;
        padding: 50px 0;
    }
    .deploy .col-3-st .col {
        width: 100%;
    }
    .deploy .col-3-st .col:nth-child(2) {
        padding-top: 50px;
    }
    .expert a.ProcessBoxstyles__StyledLink-b4x5vz-3:hover p.comteTo {
        width: auto;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 10px;
    }
    .fjPmoA, p.comteTo {
        margin-left: 50px;
    }
    .fjPmoA::before {
        left: -40px;
    }
    .rainforest .rightScrollable img {
        max-height: 250px;
        margin-bottom: 30px;
    }
    .edjxEQ {
        font-size: 3.22rem;
    }
    .ftuJlC {
        padding-left: 20px;
    }
    .hJBvfI {
        margin-left: 15px;
        margin-right: 15px;
    }
    .YyRNF {
        font-size: 30px;
    }
    .rightContent p {
        font-size: 16px;
    }
    /* footer */
    footer .kyNYVu {
        padding: 15px;
        flex-wrap: wrap;
    }
    footer .kjZMEh {
        margin-right: 10px;
        padding: 15px;
    }
    /* header */
    header {
        padding: 20px 15px;
    }
    .eQXOwA {
        height: 260px;
    }
    .fhCGvR {
        font-size: 24px;
        width: 100%;
    }
    .liHsoN {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }
    .brandicon {
        margin: 20px 0;
    }
    .gHtrrs {
        height: 22px;
    }
    .menuToggle {
        right: 170px;
    }
}

@media screen and (min-width:992px) {
    .seconOption {
        display: flex;
        flex-wrap: wrap;
    }
    .seconOption .rightScrollable {
        order: 2;
    }
    .menuToggle {
        display: none;
    }
}

.menuToggle {
    position: absolute;
    right: 190px;
    z-index: 1;
}

.menuToggle svg {
    width: 18px;
    height: 18px;
    fill: #FFF;
}

header.arbor-super-nav--is-showing-background .menuToggle svg {
    fill: #000;
}

/* Home Service */

.HomeserviceContent {
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
}

.HomeserviceWrapper {
    width: 33.33%;
    padding: 30px;
}

.HomeserviceBlockItem {
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 40px;
    box-shadow: 0 0 9rem 0 #e5e9ef;
}

.HomeserviceWrapper:nth-child(2) {
    margin-top: 90px;
}

.HomeserviceBlock img {
    width: 70px;
    margin-bottom: 30px;
}

.HomeserviceBlock h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.HomeserviceBlock p {
    font-size: 15px;
    color: #9a9a9a;
    line-height: 24px;
    margin-bottom: 20px;
}

.HomeServiceMore {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.HomeServiceMore span {
    margin-right: 8px;
    /* border-bottom: 2px solid #dedede; */
    /* font-weight: bold; */
    font-size: 18px;
    position: relative;
    z-index: 1;
}

.HomeServiceMore span:after {
    content: "";
    width: 100%;
    height: 8px;
    background: #dedede;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
}

.HomeServiceMore svg {
    width: 20px;
    height: 20px;
    fill: #d0d0d0;
}

.HomeServiceMore:hover svg {
    fill: #000;
}

.mainTitle h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    font-family: gilroy-medium;
    text-transform: capitalize;
}

.mainTitle p {
    font-size: 16px;
    color: #888;
    max-width: 50%;
    margin: 20px auto auto auto;
}

.microsoft {
    color: #da3b01;
    font-weight: bold;
}

.google-suite {
    color: #757575;
    font-weight: bold;
}

.mainTitle.staticContent p {
    max-width: 80%;
    margin: 0;
}

.leftContent {
    width: 60%;
}

.rightContent {
    width: 40%;
}

.fit-img {
    height: 100%;
    object-fit: contain;
}

/* apporach */

.lightBgClor {
    background-color: #f5f9fb;
}

.approachWrapper {
    border-radius: 16px;
    padding: 6.65rem 3.1rem;
    margin-bottom: 100px;
}

.approachBlock {
    display: flex;
    flex-wrap: wrap;
    margin: 1.55rem auto 0;
    max-width: 1000px;
    row-gap: 8.1rem;
    column-gap: calc(6vw + 3.1rem);
    align-items: flex-start;
    counter-reset: benefits;
}

.approachBlockItem {
    position: relative;
    width: calc(50% - 100px);
    margin: 50px;
}

.approachBlockImg {
    height: 160px;
    width: 150px;
    margin-bottom: 30px;
}

.approachBlockImg img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(1);
}

.approachBlockContent h2 {
    color: #000;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    margin: 20px 0;
}

.approachBlockContent p {
    font-size: 17px;
    line-height: 26px;
    color: #777;
}

.approachBlockItem .number {
    color: #e3eef4;
    font-size: 22rem;
    font-weight: bold;
    position: absolute;
    right: 0;
    line-height: 130px;
    top: 20px;
}

/* footer */

.blackBgColor {
    background: #111517;
}

.footerRadius {
    border-radius: 16px;
    padding: 4.65rem 7.75rem 1.55rem 7.75rem;
    margin-bottom: 50px;
}

.footerBottom {
    display: grid;
    row-gap: 4.65rem;
    grid-template-columns: 2fr 4fr;
    padding: 50px 0;
}

.footerBlockRight {
    display: grid;
    column-gap: 1.55rem;
    row-gap: 2.325rem;
    color: #fff;
    grid-template-columns: auto auto auto 140px;
}

.footerLink h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footerLink ul li {
    margin-bottom: 10px;
}

.footerLink ul li a, .footerLink ul li p {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    line-height: 20px;
    transition: all 0.15s cubic-bezier(0.7, 0, 1, 0.5);
}

.footerLink ul li a:hover {
    color: #fff;
}

.socialIcon svg {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.socialIcon svg path {
    fill: hsla(0, 0%, 100%, 0.5);
}

.socialIcon svg:hover path {
    fill: #fff;
}

.footerBlockSocial {
    display: block;
}

.socialIcon {
    display: inline-block;
    margin: 0 10px 10px 10px;
}

.footerLogo {
    fill: #fff;
    max-width: 70%;
    height: 70px;
}

.footerNew {
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    padding-bottom: 50px;
    padding-top: 30px;
}

/* .footerNew h3{
                color: #da3654;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 40px;
            } */

.footerNew h2 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

/* .footerNew p{
                color: hsla(0,0%,100%,.5);
                font-size: 20px;
                line-height: 26px;
                max-width: 50%;
                margin: auto auto 50px auto;
            } */

.common-btn {
    border-radius: 28px;
    background-color: #fff;
    min-width: 9rem;
    display: inline-block;
    text-align: center;
    border: 0;
    font-size: 18px;
    padding: 17px 35px;
    color: #000;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: gilroy-regular;
}

.common-btn:hover {
    box-shadow: 0 9px 60px 0 rgba(202, 202, 202, 0.35);
    padding: 17px 45px;
}

.common-btn:focus {
    outline: none;
}

.footerCopyRight {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footerCopyRight p {
    color: hsla(0, 0%, 100%, 0.5);
}

.homeContactForm {
    width: 800px;
    margin: auto;
}

.homeContactForm .formGroup input {
    box-shadow: none;
    height: 48px;
    border-radius: 6px;
}

.homeContactForm .formGroup textarea {
    box-shadow: none;
    border-radius: 6px;
}

.homeContactForm .formGroup {
    padding: 0 15px;
}

.themeColor {
    color: #F09600;
    font-weight: bold;
}

.font {
    font-family: 'Lobster', cursive;
;
}

.Container-sc-3arkl6-0.bhiCFr.mainTopBlock.homeMainBlock {
    max-width: 860px;
}

.Container-sc-3arkl6-0.bhiCFr.mainTopBlock.homeMainBlock .width-50 {
    width: 100%;
    text-align: center;
}

h1.styled-components__SectionTitle-sc-1j30hkw-1.hCaQNN.Heading-sc-178lehg-0.eGkdKa {}

.Container-sc-3arkl6-0.bhiCFr.mainTopBlock.homeMainBlock h1.styled-components__SectionTitle-sc-1j30hkw-1.hCaQNN.Heading-sc-178lehg-0.eGkdKa {
    max-width: 100%;
}

.Container-sc-3arkl6-0.bhiCFr.mainTopBlock.homeMainBlock p {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}

/* start about page style */
.font-bold{
    font-weight: 600;
}
.max-wd100{
    max-width: 100% !important;
}
.font-small {
    font-size: 14px !important;
}
.maintitle-wd{
    max-width: 700px;
}
.team-name {
    font-size: 18px !important;
    margin-bottom: 10px;
}
.team-detail p {
    font-size: 15px;
    color: #9a9a9a;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 300px;
    margin: auto;
}
.team-detail {
    padding: 10px;
    height: 223px;
    padding-top: 20px;
    margin-top: -8px;
}
.ml-20{
    margin-left:20% !important;
}
.team-block {
    outline: none;
}

/* end about page style */